.grn {
  background-color: var(--green);
}

.ble {
  background-color: var(--blue);
}

.prp {
  background-color: var(--purple);
}

.header {
  height: 88px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0 60px;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 1440px;
  color: var(--purple);
}

.link-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.link-nav a {
  margin-left: 30px;

  font-size: 18px;
  font-weight: 500;
}

.link-nav a:hover {
  color: var(--green);
}

.first-section {
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  padding: 30px 60px;

  align-items: center;
  background-image: url("./imgs/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.right {
  margin-right: 30px;
}

.first-section img {
  width: 100%;
  max-width: 599px;
}

.content-initial {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
}

.container-title {
  max-width: 520px;
}

.master-title {
  color: #fff;
  margin-bottom: 26px;

  font-weight: 500;
}

.explanation-subtitle {
  color: #fff;
  margin-bottom: 76px;

  font-weight: 400;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.container-form {
  animation: 1s ease-out 0s 1 slideInFromTop;

  background-color: #fff;

  width: 100%;
  max-width: 612px;
  height: 532px;
  padding: 42px 28px;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

legend {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  margin-top: 29px;
}

input {
  height: 50px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
}

p.info {
  margin-top: 12px;
  margin-bottom: 48px;

  color: var(--grey2);
}

p.info a {
  color: var(--blue);
}

input[type="submit"] {
  background-color: var(--green);
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;

  padding: 10px;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

hr.divider {
  height: 4px;
  margin: 0px;
  border: 0;
}

.second-section,
.third-section,
.last-section {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 126px 60px;

  background-color: var(--grey0);
}

.second-section,
.third-section {
  align-items: center;
  justify-content: center;
}

.content-benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

.title-content {
  border-bottom: var(--green) solid 6px;
  margin-bottom: 64px;
  text-align: start;
  align-self: flex-start;
}

.container-card,
.container-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-testimonial {
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  width: 400px;
  height: 400px;
  padding: 34px 54px;
  border-radius: 8px;

  text-align: center;

  box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.card p {
  font-size: 1rem;
}

.card-header img {
  margin-bottom: 30px;
}

.card-header {
  margin-bottom: 30px;
}

.third-section {
  background-color: #fff;
}

.container-testimonial {
  width: 100%;
  justify-content: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  max-width: 290px;
  margin: 0 50px;

  color: var(--grey3);
}

.testimonials img {
  margin-bottom: 34px;
}

strong {
  font-weight: 600;
}

.testimonials p {
  margin-bottom: 20px;
}

.last-section {
  height: 366px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-room {
  flex: 1;
  text-align: end;
  margin: 20px;
}

.container-register {
  flex: 1;
  text-align: start;
  margin: 20px;

  color: var(--grey3);
}

.email-form {
  display: flex;
  flex-direction: row;
}

input[type="email"] {
  border: 2px solid #c4c4c4;
  text-decoration: none;
  cursor: pointer;
  width: 482px;

  padding: 14px;
  font-size: 18px;
}

.container-register input[type="submit"] {
  padding: 10px 25px;
  margin-left: 15px;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

footer {
  height: 167px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--green);

  color: #fff;
}

.footer-container {
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social li {
  margin-left: 30px;
}

@media screen and (max-width: 1023px) {
  .header {
    height: 58px;
  }

  .header img {
    height: 30px;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-nav {
    display: none;
  }

  .right {
    margin-right: 0;
    align-items: center;
  }

  .first-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 30px 16px;

    align-items: center;
    background: linear-gradient(89.75deg, #723d90 0.19%, #381b5d 99.78%);
  }

  .first-section img {
    width: 230px;
    height: auto;
    margin-bottom: 30px;
  }

  .container-form {
    background-color: #fff;

    width: 100%;
    height: fit-content;
    padding: 22px 28px;

    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  legend {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 10px;
    margin-top: 18px;
  }

  input {
    height: 50px;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
  }

  p.info {
    margin-top: 12px;
    margin-bottom: 28px;

    color: var(--grey2);
  }

  hr.divider {
    height: 4px;
    margin: 0px;
    border: 0;
  }

  .second-section,
  .third-section,
  .last-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 16px;

    background-color: var(--grey0);
  }

  .second-section,
  .third-section {
    align-items: center;
    justify-content: center;
  }

  .content-benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
  }

  .title-content {
    border-bottom: var(--green) solid 6px;
    margin-bottom: 64px;
    margin: 20px auto 30px auto;
  }

  .container-card,
  .container-testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-card {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 16px;
    height: fit-content;
    padding: 26px;
  }

  .card-header img {
    height: 80px;
    margin-bottom: 20px;
  }

  .card-header {
    margin-bottom: 30px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin: auto;
    padding: 16px;
  }

  .testimonials img {
    margin-bottom: 24px;
  }

  strong {
    font-weight: 600;
  }

  .testimonials p {
    margin-bottom: 20px;
  }

  .last-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-room {
    text-align: center;
    margin: 20px;
  }

  .container-register {
    text-align: start;
    width: 80%;

    color: var(--grey3);
  }

  .email-form {
    display: flex;
    flex-direction: column;
  }

  input[type="email"] {
    border: 2px solid #c4c4c4;
    text-decoration: none;
    cursor: pointer;
    width: 100%;

    padding: 16px;
    font-size: 14px;
  }

  .container-register input[type="submit"] {
    width: 100%;
    padding: 10px 25px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 0;
    margin-top: 10px;
  }

  footer {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;

    padding: 0 16px;
  }

  .footer-container img,
  .footer-container p {
    margin-bottom: 16px;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social li {
    margin-left: 30px;
  }
}
